body {
  font-family: monospace;
}

.site-name {
  font-size: 1.2em;
  font-weight: bold;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px 0;
  background-color: #000;

}

.opened .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.opened .bar:nth-child(2) {
  transform: translateY(-2px) rotate(-45deg);
}

.closed ul {
  display: none;
}
